<h1>Lista Clientes</h1>

<table class="table">
    <thead class="black white-text">
        <tr>
            <th>ID</th>
            <th>IdVenda</th>
            <th>Produto</th>
            <th>Quantidade</th>
            <th>Preço</th>
            <th>Total</th>
            <th>Ativo</th>
        </tr>
    </thead>
    <tbody >
        <tr *ngFor="let vendaItem of vendaItens">
            <td>{{ vendaItem.idVendaItem }}</td>
            <td>{{ vendaItem.idVenda }}</td>
            <td>{{ vendaItem.idProduto }}</td>
            <td>{{ vendaItem.nrQuantidade }}</td>
            <td>{{ vendaItem.nrPreco }}</td>
            <td>{{ vendaItem.nrTotal }}</td>
            <td>{{ vendaItem.dmAtivo }}</td>
        </tr>
    </tbody>
</table>