<div class="container main-content">
    <div id="notificacao" class="notificacao">
    </div>
    <form class="form" [formGroup]="form" (submit)="incluir()">
        <input placeholder="Nome conta caixa" type="text" class="form-control" formControlName="nmContaCaixa">
        <input placeholder="Valor saldo inicial" type="number" class="form-control" formControlName="vlSaldoInicial">
        <input placeholder="Id carteira" type="number" class="form-control" formControlName="idCarteira">
        <input placeholder="Id saldo atualizado" type="number" class="form-control" formControlName="idSaldoAtualizado">

        <select class="form-control" formControlName="dmSituacao">
            <option value="1" default>Ativo</option>
            <option value="0">Inativo</option>
        </select>
        <input class="form-control" type="submit">
    </form>
</div>
