/* You can add global styles to this file, and also import other style files */
.main-content {
    margin: 1.8rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-content > :first-child {
    margin-bottom: 2rem;
}

td {
    padding: 0.9rem;
    max-width: 250px;
    word-wrap: break-word;
}

.form {
    width: 30vw;
}

.form input, select, option {
    margin-bottom: .7rem;
}
select{
    margin-bottom: .7rem !important; 
}
.form input[type=submit] {
    margin-top: 0.7rem;
}

.notificacao {
    position: relative;
    top: 10px;
    width: fit-content;
    margin: 0 auto;
    opacity: 0;
    border-radius: 4px;
    padding: .65rem;
    transition: opacity .9s;
}

.err {
    background-color: tomato;
    color: white;
}

.success {
    background-color: #61bd4f;
    color: white;
}
