<div class ="notificacao" id="notificacao"></div>
<div class="container main-content">
    <h2>Inclusão de Grupo de Produtos</h2>
    <form class="form" [formGroup]="form" (submit)="submit()">
        <input class="form-control" type="text" placeholder="url da Imagem" name="imagem" formControlName="dsImagem">
        <input class="form-control" type="text" placeholder="Nome do grupo" name="nome" formControlName="dsNomeGrupo">
        <input class="form-control" type="text" placeholder="Descrição" name="descricao" formControlName="dsDescricao">
        <select aria-placeholder="Situação" class="form-control" formControlName="situacao" name="situacao">
            <option value="" disabled selected hidden>Situação</option>
            <option value="0">Inativo</option>
            <option value="1">Ativo</option>
        </select>
        <input class="btn btn-primary" type="submit" value="Incluir">
    </form>
</div>